<ion-content>
  <!-- <div class="fondo">
    <div class="circ1"></div>
    <div class="circ2"></div>
  </div> -->
  <div class="contenedorGeneral">
    <div class="circulos">
      <span class="circle1"></span>
      <span class="circle2"></span>
      <span class="circle3"></span>
      <span class="circle4"></span>
      <span class="circle5"></span>
      <span class="circle6"></span>
      <span class="circle7"></span>
    </div>
    <div class="presentacion">
      <h1>Bienvenido</h1>
      <h2 class="mt-1 mb-4">Buenos días, Carlos!</h2>
      <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
    </div>
    <app-datos-zona></app-datos-zona>
    


  </div>
  <app-navbar></app-navbar>
</ion-content>
