<ion-content>
  <form>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-item lines="full">
      <ion-label position="floating" class="mb-2">Name</ion-label>
      <ion-input type="text" #displayName required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating" class="mb-2">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating" class="mb-2">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="signUp(email, password, displayName)" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>