.navbar{
    position:fixed;
    bottom: 0;
    width: 100vw;
    height: 4rem;
    background-color: rgb(74, 37, 196, .45);
    padding-inline: 1rem;
    border-radius: 15px 15px 0 0;
    .info{
        font-size: 1.5rem;
        &:hover{
            cursor: pointer;
        }
        &.Centro{
            padding: 1rem 1.2rem 1rem 1.2rem;
            border-radius: 50%;
            background-color: rgb(74, 37, 196, .65);
        }
        p{
            margin-top: .2rem;
            font-size: .8rem;
        }
    }
}