<div class="flex items-center justify-between navbar backdrop-blur-lg">
  <div class="info flex flex-col items-center justify-center" [routerLink]="['/camaras']">
    <ion-icon name="videocam-outline"></ion-icon>
    <p>Camaras</p>
  </div>
  <div class="info flex flex-col items-center justify-center" [routerLink]="['/puertas']">
    <ion-icon name="game-controller-outline"></ion-icon>
    <p>Controles</p>
  </div>
  <div class="info Centro flex flex-col items-center justify-center" [routerLink]="['/admin']">
    <ion-icon name="home-outline"></ion-icon>
    <p>Inicio</p>
  </div>
  <div class="info flex flex-col items-center justify-center" [routerLink]="['/deteccion']">
    <ion-icon name="file-tray-full-outline"></ion-icon>
    <p>Registros</p>
  </div>
  <div class="info flex flex-col items-center justify-center" [routerLink]="['/ajustes']">
    <ion-icon name="settings-outline"></ion-icon>
    <p>Ajustes</p>
  </div>
</div>
