<div class="datosZona backdrop-blur-xs" *ngIf="data">
  <ion-grid>
    <ion-row>
      <ion-col class="bateria">
        <p>Bateria</p>
        <div class="datos">
          <ion-icon name="battery-half-outline"></ion-icon>
          <p>{{data.bat}}%</p>
        </div>
      </ion-col>
      <ion-col>
        <p>Temperatura</p>
        <div class="datos">
          <ion-icon name="thermometer-outline"></ion-icon>
          <p>{{data.temp}}°</p>
        </div>
      </ion-col>
      <ion-col>
        <p>Humedad</p>
        <div class="datos">
          <ion-icon name="water-outline"></ion-icon>
          <p>{{data.hum}}%</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>