
$verde: #AAC86B;
$verdeOscuro: #48692C;
$gris: #828282;
$blanco: #F8F8FF;
$negro: #000000;
$azul_desv: rgba(59,82,150, 0.25);
$azul: #428CFF;
$azulMedio: #006daa;
$rosa: #F28482;
$rosita: #FF8484;
$verde: #0e310d;
$verdeClaro: rgba(150,201,61,.4);
$verdeClaroD: rgba(150,201,61,.3);
$azulin: rgb(0, 152, 134);
$azulinD: rgb(0, 152, 134, .6);
$cafe: #704e2e;
@mixin aros{
    position: absolute;
    border-radius: 50%;
    border: $verdeClaro solid 4px;
}
ion-content{
    overflow-x: none;
    --background: #d6fffa;
    /* --background: linear-gradient(210deg, #08AEEA 0%, #2AF598 100%); */
    /* --background: linear-gradient(225deg, #21D4FD 0%, #6535fc 100%); */
    
    /* --background:  linear-gradient(38deg, rgba(0,176,155,1) 0%, rgba(150,201,61,1) 82%); */
    .fondo{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: -3;
        .circ1{
            background-color:rgba(150,201,61,.6);
            top: -100px;
            right: -50px;
            position: absolute;
            border-radius: 50%;
            width: 300px;
            height: 300px;
            border: rgba(150,201,61,) solid 3px;
        }
        .circ2{
            background-color:rgba(150,201,61, .6);
            bottom: 0;
            left: -50px;
            position: absolute;
            border-radius: 50%;
            width: 300px;
            height: 300px;
            border: rgba(150,201,61,1) solid 3px;
        }
        &::after{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            height: 116vh;
            width: 100vw;
            backdrop-filter: blur(110px);
        }
    }
    padding-bottom: 4rem;
    .circulos{
        width: 100vw;
        position: relative;
        top: -100px;
        right: 0;
        z-index: -3;
        span{
            @include aros;
        }
        .circle1{
            top: 0px;
            right: 0px;
            width: 100px;
            height: 100px;
        }
        .circle2{
            top: -50px;
            right: -50px;
            width: 200px;
            height: 200px;
        }
        .circle3{
            top: -100px;
            right: -100px;
            width: 300px;
            height: 300px;
        }
        .circle4{
            top: -150px;
            right: -150px;
            width: 400px;
            height: 400px;
        }
        .circle5{
            top: -200px;
            right: -200px;
            width: 500px;
            height: 500px;
        }
        .circle6{
            top: -250px;
            right: -250px;
            width: 600px;
            height: 600px;
        }
        .circle7{
            top: -300px;
            right: -300px;
            width: 700px;
            height: 700px;
        }
    }
    
    div{
        border-radius: 15px;
    }
    .contenedorGeneral{
        position: relative;
        z-index: 0;
        padding: 3rem 2rem 4rem 2rem;
        .presentacion{
            filter: drop-shadow(4px 7px 17px 1px rgb(0 0 0 / 23%));
            margin-bottom: 1rem;
            font-weight: bold;
            h1{
                color: $blanco;
                font-size: 1.1rem;
                margin: 0 !important;
                z-index: 3;
            }
            h2{
                color: $negro;
                font-size: 1.25rem;
                z-index: 3;
            }
            ion-button{
                --background: rgb(0, 152, 134);
                --border-radius: 10px;
            }
        }
        .datosZona{
            background-color: $verdeClaro;
            position: relative;
            z-index: 1;
            box-shadow:  4px 7px 17px 1px rgb(0 0 0 / 23%);
            margin-bottom: 1rem;
            padding: 0.5rem 0.6rem 0.5rem 0.6rem;
            width: 100%;
            ion-icon{
                color: $blanco;
            }
            ion-grid{
                position: relative;
                z-index: 3;
                ion-icon{
                    font-size: 2rem;
                }
                p{
                    font-size: .85rem;
                    color: $verde;
                    margin: 0 !important;
                }
                ion-col{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .datos{
                        margin: 0.4rem 0 0 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        p{
                            font-size: 1.5rem;
                        }
                    }
                }
                .bateria{
                    ion-icon{
                        transform: rotate(-90deg);
                    }
                }
            }
        }
        .funciones{
            .funcData{
                background-color: $azulinD;
                backdrop-filter: blur(4px);
                position: relative;
                box-shadow:  4px 7px 17px 1px rgb(0 0 0 / 23%);
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 15px;
                font-size: 1rem;
                margin-bottom: 1rem;
                padding: 1rem;
                cursor: pointer;
                z-index: 3;
                p{
                    margin-bottom: .8rem;
    
                }
                ion-icon{
                    font-size: 43px;
                }
            }
        }
        .registros{
            filter: drop-shadow(0px 6px 17px -3px rgba(0, 0, 0, 0.45));
            color: $blanco;
            h2{
                font-size: 1.2rem;
                color: $negro;
                font-weight: 600;
            }
            p{
                margin: .5rem 1rem .5rem 1rem;
            }
            .registro{
                .anotacion{
                    h3{
                        font-size: 1rem !important;
                        color: $blanco;
                    }
                    p{
                        font-size: .7rem !important;
                        color: $gris;
                        margin: 0;
                    }
                }
                ion-button{
                    --background: #FF8484;
                    font-size: 10px;
                    button{
                        padding-inline: .2rem !important;
                    }
                }
    
            }
        }
    }
}