<ion-content>
  <img class="imagen" src="{{ urlImagen }}" width="300px">
  <div class="contenedorGeneral">
    <div class="presentacion">
      <h1 class="mt-1 mb-4">Cancún, Quintana Roo</h1>
      <span class="semana">{{ nombreDia }}</span>
      <span class="dia">, {{ day }} {{ nomMonth }}</span>
    </div>
    <div *ngIf="weather" class="datos">
      <div class="tiempo mt-14 mb-16">
        <div class="datoInd des">
          <h1>{{ descript }}</h1>
        </div>
        <ion-icon class="m-2" name={{urlIcon}}></ion-icon>
        <div class="info">
          <div class="datoInd">
            <h1>{{ weather.main.temp }}°</h1>
          </div>
        </div>
      </div>
      <div class="datosTiempo columns-2 p-4 min-w-max">
        <div class="a">
          <div class="datoInd">
            <ion-icon name="thermometer-outline"></ion-icon>
            <div class="contInd">
              <h2>Temp Máx</h2>
              <p>{{ weather.main.temp_max }}°</p>
            </div>
          </div>
          <br>
          <div class="datoInd">
            <ion-icon name="thermometer-outline"></ion-icon>
            <div class="contInd">
              <h2>Temp Min</h2>
              <p>{{ weather.main.temp_min }}°</p>
            </div>
          </div>
        </div>
        <div class="a">
          <div class="datoInd">
            <ion-icon name="water-outline"></ion-icon>
            <div class="contInd">
              <h2>Humedad</h2>
              <p>{{ weather.main.humidity }}%</p>
            </div>
          </div>
          <br>
          <div class="datoInd">
            <ion-icon name="cloud-upload-outline"></ion-icon>
            <div class="contInd">
              <h2>Presión</h2>
              <p>{{ weather.main.pressure }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <app-navbar></app-navbar>
</ion-content>
