ion-content{
    .funciones{
        .funcData{
            position: relative;
            box-shadow: 4px 8px 39px -1px rgb(0 0 0 / 75%);
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 15px;
            font-size: 1rem;
            margin-bottom: 1rem;
            padding: 1rem;
            cursor: pointer;
            z-index: 3;
            p{
                margin-bottom: .8rem;

            }
            ion-icon{
                font-size: 43px;
            }
        }
    }
}