<ion-content>
  <div class="circulos">
    <span class="circle1"></span>
    <span class="circle2"></span>
    <span class="circle3"></span>
    <span class="circle4"></span>
    <span class="circle5"></span>
    <span class="circle6"></span>
    <span class="circle7"></span>
  </div>
  <div class="contenedorGeneral">
    <div class="presentacion">
      <h1>Bienvenido</h1>
      <h2 class="mt-1 mb-4">Buenos días</h2>
      <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
    </div>
    <app-datos-zona></app-datos-zona>
    <div class="container funciones">
      <div class="columns-3 h-60">
        <div class="">
          <div class="funcData h-58 backdrop-blur-xs">
            <p>Luces Generales</p>
            <ion-icon name="bulb-outline"></ion-icon>
            <ion-toggle color="primary" [(ngModel)]="booleanValue$" [checked]="booleanValue$" (click)="luzOn()"></ion-toggle>
          </div>
        </div>
        <div class="">
          <div class="funcData h-58 backdrop-blur-xs">
            <p>Sonido South</p>
            <ion-icon name="megaphone-outline"></ion-icon>
            <ion-toggle color="primary" [(ngModel)]="valorBuzzS" (click)="sonidoSOn()" [checked]="valorBuzzS"></ion-toggle>
          </div>
        </div>
        <div class="">
          <div class="funcData h-58 backdrop-blur-xs">
            <p>Sonido North</p>
            <ion-icon name="megaphone-outline"></ion-icon>
            <ion-toggle color="primary" [(ngModel)]="valorBuzzN" (click)="sonidoNOn()" [checked]="valorBuzzN"></ion-toggle>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</ion-content>
