<ion-content>
  <div class="circulos">
    <span class="circle1"></span>
    <span class="circle2"></span>
    <span class="circle3"></span>
    <span class="circle4"></span>
    <span class="circle5"></span>
    <span class="circle6"></span>
    <span class="circle7"></span>
  </div>
  <div class="contenedorGeneral">
    <div class="presentacion">
      <h1>Bienvenido</h1>
      <h2 class="mt-1 mb-4">Buenos días, Carlos!</h2>
      <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
    </div>
    <div class="backdrop-blur-xs">
      <div class="container datosZona" *ngIf="items | async as data">
        <ion-grid>
          <ion-row>
            <ion-col class="bateria">
              <p>Bateria</p>
              <div class="datos">
                <ion-icon name="battery-half-outline"></ion-icon>
                <p>{{data[0]}}%</p>
              </div>
            </ion-col>
            <ion-col>
              <p>Temperatura</p>
              <div class="datos">
                <ion-icon name="thermometer-outline"></ion-icon>
                <p>{{data[3]}}°</p>
              </div>
            </ion-col>
            <ion-col>
              <p>Humedad</p>
              <div class="datos">
                <ion-icon name="water-outline"></ion-icon>
                <p>{{data[1]}}%</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="container">
      <div class="titulo mb-3 mt-2">
        <h2>Fotos de la semana</h2>
      </div>
      <input type="radio" name="slider" id="item-1" checked>
      <input type="radio" name="slider" id="item-2">
      <input type="radio" name="slider" id="item-3">
      <div class="cards">
        <label class="card" for="item-1" id="song-1">
          <img src="https://images.unsplash.com/photo-1530651788726-1dbf58eeef1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80" alt="song">
        </label>
        <label class="card" for="item-2" id="song-2">
          <img src="https://images.unsplash.com/photo-1559386484-97dfc0e15539?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80" alt="song">
        </label>
        <label class="card" for="item-3" id="song-3">
          <img src="https://images.unsplash.com/photo-1533461502717-83546f485d24?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="song">
        </label>
      </div>
    </div>
    <div class="videos mb-4">
      <div class="titulo mb-3 mt-2">
        <h2>Camaras</h2>
      </div>
      <div class="camaras columns-2">
        <div class="video">
          <img src="https://images.unsplash.com/photo-1530651788726-1dbf58eeef1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80" alt="song">
        </div>
        <div class="video">
          <img src="https://images.unsplash.com/photo-1559386484-97dfc0e15539?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80" alt="song">
        </div>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</ion-content>
<script>
  $('input').on('change', function() {
  $('body').toggleClass('blue');
});
</script>
