<ion-content [fullscreen]="true">
  <div class="contenedorGeneral">
    <div class="presentacion">
      <h1>Bienvenido</h1>
      <h2 class="mt-1 mb-4">Buen día<!-- , Carlos! --></h2>
      <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
    </div>
    <div class="charts ion-padding">
      <ion-card style="background: rgb(0, 152, 134, .6);">
        <ion-card-header>
          Doughnut Chart
        </ion-card-header>
        <ion-card-content>
          <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw;"></canvas>
        </ion-card-content>
      </ion-card>
      <ion-card style="background: rgb(0, 152, 134, .6);">
        <ion-card-header>
          Line Chart
        </ion-card-header>
        <ion-card-content>
          <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <app-navbar></app-navbar>
</ion-content>