ion-content{
    .contenedorGeneral{
        .deteccion{
            box-shadow:  4px 8px 39px -1px rgb(0 0 0 / 75%);
            ion-icon{
                font-size: 1.3rem;
            }
            h2{
                font-size: 1.2rem;
            }
        }
    }
}