<ion-content>
  <div class="circulos">
    <span class="circle1"></span>
    <span class="circle2"></span>
    <span class="circle3"></span>
    <span class="circle4"></span>
    <span class="circle5"></span>
    <span class="circle6"></span>
    <span class="circle7"></span>
  </div>
  <div class="contenedorGeneral">
    <div class="presentacion">
      <h1>Bienvenido</h1>
      <h2 class="mt-1 mb-4">Buen día</h2>
      <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
    </div>
    <app-datos-zona></app-datos-zona>
    <div class="deteccion p-4 flex flex-col md:flex-row justify-evenly">
      <div class="zonaSur w-full">
        <h2 class="pb-3">Registros Sur</h2>
        <div class="regist flex w-full mb-2" *ngFor="let reg of registrosS | async as data">
          <ion-icon name="bug-outline" class="w-4/12"></ion-icon>
          <h3 class="w-full">{{ reg }}</h3>
        </div>
      </div>
      <div class="zonaNorte w-full">
        <h2 class="pb-3">Registros Norte</h2>
        <div class="regist flex w-full mb-2" *ngFor="let reg of registrosN | async as data">
          <ion-icon name="bug-outline" class="w-4/12"></ion-icon>
          <h3 class="w-full">{{ reg }}</h3>
        </div>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</ion-content>
